body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;

}

.animal {
    font-style: italic;
}

.dog {
    background-color: azure;
    text-align: center;
    float: left;
    width: 30%;
    margin: 8px;
    padding: 6px;
}